body {
  margin-top: 7rem;
  overflow-x:hidden;
}

.navbar {
  border-bottom:1px solid #d1d5d8;
  margin-bottom: 1em;
  background-color: white;
}

.navbar-nav li {
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar-brand {
  display: inline-flex;
}

.navbar-brand h1 {
  align-self: center;
  color: #011847;
  font-weight: bold;
}

div.dropdown-multicol2{
  width: 45em;
  background-color: #262a32;
}

div.dropdown-multicol2>div.dropdown-col{
  display:inline-block;
  width: 20%;
}

.dropdown-item, 
.dropdown-col h3,
#loggin-btn,
#summer {
  color: white;
}

#summer {  
  position: relative; 
  margin-top: -17rem;
}

#summer h1 {
  font-size: 70pt;
}

#loggin-btn {
  background-color: #84bc22;
}

.green,
span {
  color: #84bc22;
}

#togglepassword {
  width: 7%;
  position: relative;
  top: -2.25rem;
  right: .75rem;
}

.services {
  float: left;
}
#servicebg {
  background-color: #45413e;
}

p a {
  color: grey;
  text-decoration: none;
}
#oops {
  font-size: 70pt;
  font-weight: bolder;
}

.notfound {
  background-image: url(../midia/404bg.png); 
  background-repeat: no-repeat;
}
.icons {
  height: fit-content;
}
a {
  text-decoration: none;
}
.border-secondary a {
  color: #262a32;
}
#choosecolor {
  height: fit-content; 
  width: fit-content;
}
#nav-tab .active,
#nav-tabContent .active {
  background:#212529;
  color: white;
}
#tabs {
  margin-bottom: -3rem;
}