body {
  margin-top: 7rem;
}

.navbar {
  border-bottom:1px solid #d1d5d8;
  margin-bottom: 1em;
  background-color: white;
}

.navbar-nav li {
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar-brand {
  display: inline-flex;
}

.navbar-brand h1 {
  align-self: center;
  color: #011847;
  font-weight: bold;
}

div.dropdown-multicol2{
  width: 45em;
  background-color: #262a32;
}

div.dropdown-multicol2>div.dropdown-col{
  display:inline-block;
  width: 20%;
}

.dropdown-item, 
.dropdown-col h3,
#loggin-btn,
#summer {
  color: white;
}

#summer {  
  position: relative; 
  margin-top: -17rem;
}

#summer h1 {
  font-size: 70pt;
}
#loggin-btn {
  background-color: #84bc22;
}
.modal-footer p,
#passhelp {
  color: #84bc22;
}

